#overview {
	font-family:courier;
}

#body {
	font-family:courier;
}

img {
	display: block;
	margin: auto;

}
#education {
	margin-left
}
#age {
	width:50%;
}

#text {
	margin-left:3%;
	margin-right:3%;
	font-size:15px;
	font-family:courier;
}