#text1 {
	margin-left:2%;
	margin-right:2%;
	width: 96%;
	height: 20%;
}

#text2 {
	margin-left:2%;
	margin-right:2%;
	width: 96%;
	height: 20%;
}

#learn {
	margin-left:2%;
}

#time {
	margin-left:2%;
}	


#logo {
	height: 65px;
	width: 150px;
}

#time {
	margin-left: 10%;
}


#learn {
	margin-left: 10%;
}

